{{#partial "fragments/content"}}
    <p class="centered">Oops! Huston! We've got fallback... {{.}}</p>
{{/partial}}

{{#partial "fragments/title"}}
    <title>Oops...</title>
{{/partial}}

{{>fragments/base}}
